.about {
  height: 150vh;
  background-color: white;
  padding: 20px 4rem;
}

.aboutContainer {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.techStack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
