.aboutContainer {
  color: black;
  background-color: whitesmoke;
  /* box-shadow: 20px 10px 20px 10px rgba(0, 0, 0, 0.3),
    20 10px 20px 10px rgba(0, 0, 0, 0.22);
  width: 1380px; */
  margin: 20px 80px 20px 80px;
  padding: 10px 10px 10px 10px;
}

.aboutContainer > ul {
  list-style-position: inside;
  list-style: circle;
  margin-left: 550px;
  padding-left: 0px;
  display: inline-block;
  /* text-align: left; */
}

.listTitle {
  font-size: 20px;
  font-weight: bold;
  margin-left: 520px;
}

.listTitle2 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 520px;
}
