/* .mainContainer {
  display: grid;
  grid-template-row: repeat(3, 1fr);
  min-height: 100vh;
  padding: 20px 80px 20px 80px;
  background-color: white;
}

.contact1 {
  grid-row: 1 / 2;
  margin-top: 30px;
  margin-left: 30px;
}

.contact2 {
  grid-row: 2 / 3;
  margin-top: 30px;
  margin-left: 30px;
}

.contact3 {
  grid-row: 3 / 4;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
} */

/* @media screen and (min-width: 1024px) {
  .mainContainer {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
  }
} */

.mainContainer {
  display: flex;
  /* width: 80vh; */
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
}

.contact {
  max-width: 400px;
  /* width: 50vh; */
  /* justify-content: flex-start;
  align-items: flex-start; */
}

/* .contact2 {
  height: 60vh;
  width: 50vh;
}

.contact3 {
  height: 60vh;
  width: 50vh;
} */

/*.contact1 > img {
  flex-wrap: wrap;
  height: 30vh;
}

.contact2 > img {
  height: 30vh;
}

.contact3 > img {
  height: 30vh;
} */
