.galleryContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh
}

.proContainer {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  margin: 0 20px;
  height: 98vh;
  overflow: auto;
  margin-top: 20px;
}

.pro {
  color: black;
  background-color: white;
  border-radius: 20px;
  height: 250px;
}

.mapContainer {
  grid-column: 3 / 5;
  width: 100%;
  height: 100vh;
}

.markerStyle{
  background-color: white;
}

