@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .content {
  margin: 0 20px;
} */

/* nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #ddd;
} */

/* nav a {
  margin-left: 12px;
} */

/* nav .logo {
  margin-right: auto;
} */

.Submit-btn {
  color: #FBFBFF;
  background-color: #0B4F6C;
}

nav {
  margin: 10px auto 0px;
  padding: 0px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 12px 0 12px;

}

nav .nav-logo {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .nav--links {
  display: flex;
  align-items: center;
}

nav .nav--links a {
  margin-right: 12px;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
  body {
    color: #040F16;
    background: #FBFBFF;
  }
}

body {
  height: 100%;
}

